/* RTL Support for Authora Plugin */

.modal-window {
    direction: rtl;
    text-align: right;
}

.modal-window input[type="text"],
.modal-window input[type="tel"],
.modal-window input[type="number"] {
    text-align: right;
}


.modal-window .authora-message {
    text-align: right;
}


.modal-window .modal-close {
    margin: 5px;
    border: 1px solid #ffefef;
    width: 30px;
    height: 27px;
    border-radius: 10px;
    background: #ffefef;
}

.modal-window .modal-close svg {
    margin-top: -23px;
}

.modal-window .authora-message svg {
    margin-left: 5px;
    margin-right: 0;
}


.modal-window label {
    text-align: right;
    display: block;
}


.modal-window .authora-field {
    text-align: right;
}


.modal-window .authora-codes {
    direction: ltr;
    text-align: center;
}


.modal-window .authora-no-receive {
    text-align: right;
}


.modal-window .authora-buttons {
    text-align: right;
}


.modal-window .authora-success {
    text-align: right;
}
