.spinner_d9Sa {
    transform-origin: center;
}

.spinner_qQQY {
    animation: spinner_ZpfF 9s linear infinite;
}

.spinner_pote {
    animation: spinner_ZpfF .75s linear infinite;
}

@keyframes spinner_ZpfF {
    100% {
        transform: rotate(360deg);
    }
}